<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="css/cart&products.css">
    <title>Spell Bathing|Bathing Essentials</title>
</head>

<div class="cart-btn">
      <div class="cart-overlay">
        <div class="cart">
          <span class="close-cart">
            <i class="fa fa-times" aria-hidden="true"></i>
          </span>
          <h2>Cart</h2>
          <div class="cart-content">
            <!-- cart items -->
            <!-- <div class="cart-items">
            </div> -->
            <!-- end of cart items -->
          </div>
          <div class="cart-footer">
            <h3>Total: $ <span class="cart-total">0</span></h3>
            <button class="clear-cart">Clear cart</button>
            <button class="checkout-btn" onclick="window.location.href='/payments/checkout'"> Checkout </button>
          </div>
        </div>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/contentful@latest/dist/contentful.browser.min.js"></script>
    <script type="text/javascript" src = 'js/classUi.js'></script>