<link rel="stylesheet" type="text/css"   href="/css/style.css">

<% if(typeof errors != 'undefined') { %>
    <% errors.forEach(function(error) { %>
        <div class="msg">
            <%= error.msg %>
        </div>
        
    <% }); %>
<% } %>

<% if(success_msg != '') { %>
    <div class="msg">
        <%= success_msg %>
    </div>  
<% } %>

<% if(error_msg != '') { %>
    <div class="msg">
    <%= error_msg %>
    <div>
<% } %>

<% if(error != '') { %>
    <div class="msg">
        <%= error %>
    </div>
<% } %>
