<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/cart&products.css">
    <link rel="stylesheet"
href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
  <div class="logo-div">
    <img src="/img/logo.png" alt="logo">
  </div>
  <nav class="navbar">
    <a href="#" class="toggle-button" id="btns">
      <i class="fa fa-bars" aria-hidden="true"></i>
    </a>
    <div class="navbar-links" id = "links">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/categories">Shop</a></li>
          <li><a href="">Contact Us</a></li>
          <li><a href="/welcome"><i class="fa fa-user" aria-hidden="true"></i></a></li>
          <li><div class="cart-btn">
                <a href="#"><i class="fa fa-shopping-bag"  aria-hidden="true"></i></a>
            </div></li>  
        </ul>
    </div>
  </nav>
  <%- include('./cart') %>

      <!-- Nav script -->
      <script type="text/javascript"   src = "/js/navbar.js"></script>
      <script src = "/js/classUi.js">       
      </script>
      
</body>
</html>