<head>
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" type="text/css"   href="/css/style.css">
</head>
<body>
    <div class="container-center">
        <h1>|-------Error 404 ------|</h1>
        <h1>Page not Found</h1>
        <img src="/img/404.png" alt="Not u" style= "width: 300px;">
        <h1>Not the Magic you are looking for ;-(</h1>
    </div>

</body>
