<%- include('./partials/nav') %>

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, height = device-height,
     initial-scale=1.0">

    <title>Spell Bathing|Bathing Essentials</title>
  </head>
  <body>̥

    <div class="wrapper"> <!-- mobile container-->
      <div class="banner">
        <img src="./img/banners/cat_banner.jpg" alt="banner">
      </div>
      <div class="cat-container">
        <h2>Shop By Category</h2>
        <div class="cat_grid">
          <a href="/categories/soaps">
            <div>
              <img src="./img/cat/soaps.jpg" alt="Soaps">
              <h3>All Natural Soaps</h3>
            </div>
        </a>
          <a href="/categories/bathBombs">
            <div>̥
              <img src="./img/cat/bath_bomb.jpg" alt="Bath Bombs">
              <h3>Bath Bombs</h3>
            </div>
          </a> 
          <a href="/categories/bodyButter">
          <div> 
              <img src="./img/cat/body_butter.jpg" alt="Body Butter">
              <h3>Luxory Body Butter</h3>
          </div>
          </a>
          <a href="/categories/soakSalts">
            <div>
              <img src="./img/cat/bath_salts.jpg" alt="Bath Salts">
              <h3>Divine Soak Salts</h3>
            </div>
          </a>
          <a href="/categories/special">
            <div>
              <img src="./img/cat/season_special.jpg" alt="Season Special">
              <h3>Season Special</h3>
            </div>
          </a>

        </div>
      </div>
    </div>
