<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payment</title>
    <script src="https://js.stripe.com/v3/" defer></script>
    <script> stripePublicKey = '<%= stripePublicKey %>'</script>
    <script src="/js/checkout-session.js" defer></script>
</head>
<body>
    <div id = 'checkout-button' class="button">
        <button>Pay</button>
    </div>
</body>
</html>


