<head>
  <%-  include ("partials/head") %>
  <title>Spell | Login</title>
  </head>
  <body>
    <div class = "container-center">
      <img src="/img/spell-logo.png" alt="SPELL" style = " width: 200px;">
      <h1>Hey You, Login here!</h1>
      <%- include("./partials/messages") %>
        <form action="/users/login" method = "POST" class="container-center">
          <label for="email">Email ID</label>
          <input id="email" name="email" required></input>
          <label for="pass">Password</label>
          <input type="password", id = "pass", name="pass" required>
          <button class="buttons">Submit</button>
        </form>
        <p style = "font-family:'montserrat' ">Not Registered? Click <a href="./register">here</a></p>
    </div>

  </body>