
<head>
    <link rel="stylesheet" type="text/css"   href="/css/style.css">
    <title> <%= title %> </title>
</head>

<div class="container-center">
    <img src="./img/spell-logo.png" alt="SPELL">
    <a href="/users/login" class="buttons">Login</a>
    <a href="/users/register" class="buttons">Register</a>
</div>
